{% include 'overlap.html'%}
{% block content%}
<div class="container mt-5">
  <h1 class="text-center">Student Entry</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Student Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        required
        placeholder="Enter Name"
      />
    </div>
    <div class="mb-3">
      <label for="course" class="form-label">Course Option:</label>
      <select name="course" id="course" class="form-select" required>
        <option hidden>--Make a Selection--</option>
        <option>Python Full Stack</option>
        <option>Java Full Stack</option>
        <option>Software Testing</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <a href="{% url 'view_all' %}" class="btn btn-secondary mt-3"
    >View All Students</a
  >
</div>
{% endblock%}