[title]{
    background-color: aqua;
    color: white;
} */

[title="para"]{
    background-color: green;
    color: white;
} */

[title~="para"]{
    background-color: violet;
    color: white;
}

[title|="para"]{
    background-color: blue;
    color: white;
}

[title^="para"]{
    background-color: orange;
    color: white;
}

[title$="para"]{
    background-color: red;
    color: white;
}

[title*="para"]{
    background-color: deeppink;
    color: white;
}
