<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <!-- <th>Name</th> -->
            <th>Age</th>
            <th>Phno</th>
        </tr>
        {% for i in var %}
        <tr>
        <!-- <td><h2><a href="{%url 'list' %}">{{i.name}}</a></h2></td> -->
        <td><h2>{{i.age}}</h2></td>
        <td><h2>{{i.phno}}</h2></td>
        </tr>
        {%endfor%}
        
    </table>
</body>
</html>