<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="2">
      <tr align="center">
        <th>Name</th>
        <th>Age</th>
        <th>Phno</th>
      </tr>

      <tr align="center">
        <td>{{student_details.name}}</td>
        <td>{{student_details.age}}</td>
        <td>{{student_details.phno}}</td>
      </tr>
    </table>
    <form action="" method="POST">
      {%csrf_token%}
      <a href=""><button type="submit">DELETE</button></a>
    </form>
    <br /><br />
    <a href="{% url 'edit' student_details.id %} "
      ><button type="submit">EDIT</button></a
    >
  </body>
</html>
